#lobby
{
    --colCount: 3;
    --colSize: calc(100% / var(--colCount) - var(--space) * ((var(--colCount) - 1) / var(--colCount)));

    display: none;
    grid-template-columns: var(--colSize) var(--colSize) var(--colSize);
    grid-template-rows: auto auto 10vh;
    margin: var(--space);
}

.wall
{
    background-color: var(--l1Color);
    grid-row: 1 / 4;
}

.wall h2
{
    text-align: center;
}

.wall ul
{
    list-style-type: none;
}

#players
{
    grid-column: 1 / 2;
}

#options
{
    grid-column: 3 / 4;
}

#lobby #logo
{
    width: 100%;
}

#start
{
    --width: 75%;
    --height: 6vh;

    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: var(--width);
    height: var(--height);
    margin: auto;
    margin-top: 0;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
    font-size: 2vw;
    transition: width var(--transTime), height var(--transTime), margin-top var(--transTime);
}

#start:hover
{
    width: calc(var(--width) + 1vw);
    height: calc(var(--height) + 1vh);
    margin-top: -.5vh;
    box-shadow: var(--shadowHover);
    cursor: pointer;
}

#start:active
{
    width: calc(var(--width) - 1vw);
    height: calc(var(--height) - 1vh);
    margin-top: .5vh;
}

#start:focus
{
    outline: none;
}