#lobby
{
    --colCount: 3;
    --colSize: calc(100% / var(--colCount) - var(--space) * ((var(--colCount) - 1) / var(--colCount)));

    display: none;
    grid-template-columns: var(--colSize) var(--colSize) var(--colSize);
    grid-template-rows: 50vh 20vh 10vh 10vh;
    margin: var(--space);
}

#lobby .wall
{
    background-color: var(--l1Color);
    grid-row: 1 / 6;
}

#lobby .wall h2
{
    text-align: center;
}

#lobby .wall ul
{
    list-style-type: none;
}

#lobby #players
{
    grid-column: 1 / 2;
}

#lobby #options
{
    grid-column: 3 / 4;
    font-size: 18px;
}

#lobby #options > ul
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    padding: var(--space);
    padding-left: 0;
}

#lobby #options > ul > li
{
    line-height: calc(var(--btn2Size) + 2 * var(--space));
}

#lobby #options > ul > li:nth-child(odd)
{
    margin-left: var(--space);
}

#lobby #options > ul > li:nth-child(even)
{
    text-align: right;
}

#lobby #options #dropBtn
{
    display: grid;
    grid-template-columns: var(--btn2Size) var(--btn2Size);

    margin: var(--space);
    margin-left: auto;
    height: var(--btn2Size);
    width: calc(var(--btn2Size) * 2);
    background-color: var(--topColor);
    color: var(--backColor);
    border-radius: calc(var(--btn2Size) * .5);
    text-align: left;
}

#lobby #options #dropBtn > *:first-child
{
    grid-column: 1 / 2;

    width: var(--btn2Size);
    height: var(--btn2Size);
    border-radius: 100%;
}

#lobby #options #dropBtn > *:last-child
{
    grid-column: 2 / 3;
}

#lobby #options #currentLang
{
    width: var(--btn2Size);
    height: var(--btn2Size);
    border-radius: 100%;
    box-shadow: var(--shadow);
}

#lobby #options #dropMenu
{
    grid-column: 2 / 3;
    grid-row: 3 / 5;

    z-index: 10;
    display: none;
    background-color: var(--topColor);
    color: var(--backColor);
    padding: var(--space);
}

#lobby #options #dropMenu > ol
{
    list-style-type: none;
    padding: 0;
}

#lobby #options #dropMenu > ol > li
{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: right;
}

#lobby #options #dropMenu > ol > li:hover
{
    cursor: pointer;
}

#selectedLang
{
    background-color: #00000010;
}

#lobby #options #dropMenu > ol > #selectedLang:hover
{
    cursor: default;
}

#lobby #options #dropMenu > ol > li > div:first-child
{
    justify-items: left;
    text-align: left;
    width: 100%;
}

#lobby #options #dropMenu img
{
    font-size: 16px;
    width: var(--btn2Size);
    height: var(--btn2Size);
    margin: var(--space);
    background-color: var(--topColor);
    border: none;
    border-radius: 100%;
    box-shadow: var(--shadow);
}

#lobby > #options .wordCountTitle
{

}

#lobby > #options .wordCountOption
{
    height: 55px;
}

#lobby > #options .wordCountOption *
{
    margin: 0;
}

#lobby > #options .wordCountOption > *
{
    margin-right: var(--space);
}

#lobby > #options .teamWordCountTitle
{
    grid-column: 1 / 3;
    text-align: center;
}

#lobby > #options .teamWordCountOption
{
    grid-column: 1 / 3;
}

#lobby > #options .teamWordCountOption > form
{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--l1Color);
    margin: var(--space);
    margin-right: 0;
}

#lobby > #options .teamWordCountOption > form > label
{
    grid-column: 1 / 2;
    height: 55px;
    text-align: left;
    padding-left: var(--space);
}

#lobby > #options .teamWordCountOption > form > input
{
    grid-column: 2 / 3;
    margin: 0;
}

#lobby #options #wordsTitle, #lobby #options #wordsOption
{
    grid-column: 1 / 3;
    text-align: center;
}

#lobby #options #wordsTitle
{
    grid-row: 6 / 7;
}

#lobby #options #wordsOption
{
    grid-row: 7 / 8;
}

#lobby #options #words
{
    grid-column: 1 / 3;

    display: grid;
    overflow: auto;
    height: 500px;
    background-color: var(--l1Color);
    text-align: left;
    padding: var(--space);
}

#lobby #options #words li
{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: right;
}

#lobby #options #words li > div:first-child
{
    justify-items: left;
    width: 100%;
}

#lobby #options #words:last-child
{
    grid-column: 2 / 3;
    border-radius: 100%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

#lobby > #options #words li img
{
    width: var(--btn2Size);
    height: var(--btn2Size);
    border-radius: 100%;
}

/*
#lobby .packLangDiv
{
    box-shadow: none;
    cursor: default;
    background-color: #00000000;
}
*/

#lobby #options #wordsField
{
    text-align: center;
    width: calc(100% - 2 * var(--space));
    margin-left: 0;
}

#lobby #options #wordsTxt
{
    margin-top: var(--space);
    background-color: var(--l1Color);
}

#lobby #logo
{
    width: 100%;
    max-width: 50vh;
    margin: auto;
}

#lobby #logo:hover
{
    cursor: pointer;
}

#lobby #name
{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: auto;
    margin-top: 0;
}

#lobby #name p
{
    font-size: 24px;
    text-align: center;
}

#lobby #nameField
{
    text-align: center;
}

#lobby #start
{
    --width: 75%;
    --height: 6vh;

    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: var(--width);
    height: var(--height);
    margin: auto;
    margin-top: 0;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
    font-size: 30px;
    transition: width var(--transTime), height var(--transTime), margin-top var(--transTime);
}

#lobby #start:hover
{
    width: calc(var(--width) + 1vw);
    height: calc(var(--height) + 1vh);
    margin-top: -.5vh;
    box-shadow: var(--shadowHover);
    cursor: pointer;
}

#lobby #start:active
{
    width: calc(var(--width) - 1vw);
    height: calc(var(--height) - 1vh);
    margin-top: .5vh;
}

#lobby #start:focus
{
    outline: none;
}

#lobby #leave
{
    --width: 75%;
    --height: 3vh;

    grid-column: 2 / 3;
    grid-row: 4 / 5;
    width: var(--width);
    height: var(--height);
    margin: auto;
    margin-top: 0;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
    font-size: 20px;
    transition: width var(--transTime), height var(--transTime), margin-top var(--transTime);
}

#lobby #leave:hover
{
    width: calc(var(--width) + .5vw);
    height: calc(var(--height) + .5vh);
    margin-top: -.25vh;
    box-shadow: var(--shadowHover);
    cursor: pointer;
}

#lobby #leave:active
{
    width: calc(var(--width) - .5vw);
    height: calc(var(--height) - .5vh);
    margin-top: .25vh;
}

#lobby #leave:focus
{
    outline: none;
}