*
{
    --space: 10px;
    --shadow: 0 0 8px 0 hsla(0,0%,0%,0.2);
    --shadowHover: 0 0 8px 4px hsla(0,0%,0%,0.2);
    --transTime: .1s;
    --backColor: #1e1e1e;
    --topColor: #e9e9e9;
    --l1Color: #e9e9e91a;
    --btn2Size: 35px;
}

body
{
    color: var(--topColor);
    background-color: var(--backColor);
    font-family: Arial, Helvetica, sans-serif;
}

page
{
    display: grid;
    grid-gap: var(--space);
}

ul
{
    padding: 0;
}

.box
{
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.btn
{
    background-color: var(--topColor);
    margin: auto;
    margin-top: 0;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
    transition: width var(--transTime), height var(--transTime), margin-top var(--transTime), margin-bottom var(--transTime), box-shadow var(--transTime);
}

.btn:hover
{
    box-shadow: var(--shadowHover);
    cursor: pointer;
}

.btn:focus
{
    outline: none;
}

.btn2
{
    font-size: 16px;
    width: var(--btn2Size);
    height: var(--btn2Size);
    margin: var(--space);
    background-color: var(--topColor);
    border: none;
    border-radius: 100%;
    box-shadow: var(--shadow);
    transition: width var(--transTime), height var(--transTime), margin-top var(--transTime), margin-bottom var(--transTime), box-shadow var(--transTime);
}

.btn2:hover
{
    box-shadow: var(--shadowHover);
    cursor: pointer;
}

.btn2:focus
{
    outline: none;
}

.icon
{
    width: calc(var(--btn2Size) * (3/4));
    height: calc(var(--btn2Size) * (3/4));
    padding: calc(var(--btn2Size) * (1/8));
}

.inputTxt
{
    margin: var(--space);
    margin-top: calc(2 * var(--space));
    margin-bottom: calc(2 * var(--space));
    padding: var(--space);
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
    transition: height var(--transTime), margin-top var(--transTime), margin-bottom var(--transTime);
    height: 20px;
    font-size: 18px;
    background-color: var(--topColor);
}

.inputTxt:focus
{
    outline: none;
    margin-top: calc(1.5 * var(--space));
    margin-bottom: calc(1.5 * var(--space));
    height: calc(20px + var(--space));
}

#debugWarning
{
    background-color:var(--l1Color);
    font-size: 40px;
    color: red;
}