*
{
    --colCount: 3;
    --colSize: calc(100% / var(--colCount) - var(--space) * ((var(--colCount) - 1) / var(--colCount)));
}

body
{
    grid-template-columns: var(--colSize) var(--colSize) var(--colSize);
}

#logo
{
    grid-column: 2 / 3;
    width: 50%;
    margin: auto;
}

#join
{
    grid-column: 2 /3;
    background-color: hsla(0, 0%, 100%, .1);
    padding: var(--space);
    text-align: center;
}

#join h3
{
    text-align: left;
}

.inputTxt
{
    width: calc(100% - 4 * var(--space));
    margin: var(--space);
}

#joinBtn
{
    align-items: center;
}