*
{
    --colCount: 3;
    --colSize: calc(100% / var(--colCount) - var(--space) * ((var(--colCount) - 1) / var(--colCount)));
}

body
{
    grid-template-columns: var(--colSize) var(--colSize) var(--colSize);
}

#logo
{
    grid-column: 2 / 3;
    width: 50%;
    margin: auto;
}

#join
{
    grid-column: 2 /3;
    background-color: var(--l1Color);
    padding: var(--space);
    text-align: center;
}

#join h3
{
    text-align: left;
    margin-left: var(--space);
}

#join p
{
    text-align: left;
    margin-left: var(--space);
    font-size: .7vw;
}

.inputTxt
{
    width: calc(100% - 4 * var(--space));
    height: 4vh;
    font-size: 3vh;
    margin: var(--space);
    margin-top: calc(2 * var(--space));
    margin-bottom: calc(2 * var(--space));
    padding: var(--space);
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
    transition: height var(--transTime), margin-top var(--transTime), margin-bottom var(--transTime);
}

.inputTxt:focus
{
    height: calc(4vh + var(--space));
    outline: none;
    margin-top: calc(1.5 * var(--space));
    margin-bottom: calc(1.5 * var(--space));
}

#joinBtn
{
    --width: 50%;
    --height: 4vh;

    width: var(--width);
    height: var(--height);
    margin: calc(4 * var(--space));
    font-size: 1.5vw;
    align-items: center;
}

#joinBtn:hover
{
    width: calc(var(--width) + .2vw);
    height: calc(var(--height) + .2vh);
    margin-top: calc(4 * var(--space) - .1vh);
    margin-bottom: calc(4 * var(--space) - .1vh);
}

#joinBtn:active
{
    width: calc(var(--width) - .2vw);
    height: calc(var(--height) - .2vh);
    margin-top: calc(4 * var(--space) + .1vh);
    margin-bottom: calc(4 * var(--space) + .1vh);
}